* {
    box-sizing: border-box;
}

i {
    font-size: 20px;
}

body {
    background-color: #c7c3c3 !important;
}

.search-field {
    float:right;
    margin-bottom:20px;
    margin-right:20px;
}
    .search-field input{
        font-size:17px;
        border:none;
        padding:4px;
    }
    .search-field button {
        margin-left: -4px;
        font-size: 17px;
        border:none;
        padding:4px;
    }
/*.search-field input[type=text] {
    float: right;
    padding: 6px;
    background: white;
    color: black;
    margin-top: 0px;
    margin-right: 90px !important;
    margin-bottom: 15px;
    font-size: 17px;
    border: none;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid red;
}
.buttonSearch {
    float: right;
    padding: 6px 10px;
    margin-top: -10px;
    margin-right: -245px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 7px 7px 0px;
}*/
@media screen and (max-width: 600px) {
    .search-field input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .search-field input[type=text] {
        border: 1px solid #ccc;
    }
}



.content-wrapper {
    border-radius: 10px;
    margin: 50px 25px 10px 25px; 
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #FEFCF3;
    border-radius: 20px;
}

.card-body {
    overflow: auto;
}

.card-header {
    border-radius: 1vh !important;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    margin: auto;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    position: relative;
    background-color: #251749 !important;
    color: white !important;
    margin-top: -30px;
    width: 60%;
    height: 20%;
}

.table {
    font-family: Tahoma, !important;
    text-align: center;
}

    .table thead {
        background: #251749;
        color: white;
    }

    .table th {
        font-size: 2vh;
        line-height: 3rem !important;
    }

    .table td {
        font-size: 2vh;
    }

.btn-primary {
    width: 20% !important;
    margin-left:40%;
}
